body{
    background-color: #6C7A89;
}

/*index.php*/

.content-index{
    margin: 0 auto;
    height: 500px;
    width: 900px;
    background-color: #5C97BF;
    border-radius: 20px;
}

h1{
    text-align : center;
}

.form_connexion{
    background-color: #3A539B;
    width : 400px;
    margin: 0 auto;
    text-align : center;
    margin-top : 10%;
    padding: 30px 0px;
    border-radius : 20px;
}

.form_connexion label{
    font-size : 30px;
}

/*chat.php*/

.content{
    width : 800px;
    height: 500px;
    margin: 0 auto;
    border-radius : 20px;
    padding-bottom : 10px;
}

.bloc{
    display: inline-block;
}

.connected{
    background-color : #34495E;
    float : right;
    padding : 20px;
    height: 380px;
    border-radius : 20px;
}

#box{
    width : 540px;
    height: 380px;
    margin: 0 auto;
    overflow: scroll;
    background-color : #5C97BF;
    padding: 20px;
    border-radius : 20px;
}

.content form{
    margin-top: 20px;
    padding-left: 20px;
}

.form{
    background-color: #81CFE0;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
}

